header {
    border-width: thin;
    border-bottom-style: solid;
    background-color: $header-area-color;
    @media all {
	h1 {
	    font-size: 1.5em;
	    display: inline; 
	}
	p {
	    font-size: 1em;
	    display: inline; 
	    text-indent: 1.5em;
	    margin: 1em;
	    padding: 0;
	}
    }
    @media (max-width: $tablet_size) {
	h1 {
	    font-size: 1.5em * $compression_ratio;
	    display:block;
	    margin-bottom: 0;
	}
	p {
	    text-indent: 0;
	    font-size: 1em * $compression_ratio;
	}
    }
}
