nav {
  width: 75%;
  height: 1.25em;
  margin: 0 auto .25em auto;
  padding-bottom: 0em;
  border-width: thin;
  border-bottom-style: solid;
  list-style: none;
  text-align: center;
  ul {
    padding-left: 0;
    margin-bottom: .25em;
    margin-top: .25em;
  }
  li {
    width: 25%;
    float: none;
    text-align: center;
    display: inline-block;
  }
}
