@mixin clearfix() {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after { clear: both; }
}

// gt: rails includes this in application.css.scss -- @import '_header_nav';

// compression: shrink base font by 2 px
@media all { html { font-size: $base-font-size; } }
@media (max-width: $tablet_size) { html { font-size: $base-font-size * $compression-ratio; } }

body { font-family: "Sorts Mill Goudy", Georgia, serif; }
h1, h2, h3 {
  font-family: Tahoma, Geneva, sans-serif;
  color: $heading-color;
  margin: 0 .25em 0 .25em
}

.game-area {
  margin: .25em
}

p.history-area {
  margin: .25em 0 0 .5em
}

.play-area {
  background-color: $non-cards-area-color;
  clear: both;
  @include clearfix;
}

// minimum: move to 1-col
@media all {
  .cards-area {
    background: linear-gradient($gameboard-color1, $gameboard-color2);
    clear: both;
    @include clearfix;

    h2 { margin: .15em 0 .5em 0 }
    h3 { margin: .5em 0 .25em 0; }
  }

  .history-area {
    min-height: 1.75 * $hand-card-width;
    overflow-y: scroll;
  }
  
  .books-area {
    min-height: $hand-card-width;
  }

  .history-area {
    width: 55%;
    float: right;
  }
  .action-area {
    width: 45%;
    float: left;
  }
  .hand-area {
    width: 100%;
  }

  #cards, #opponents { background:transparent;}

  .hand-area {
    width: 68%;
  }
}

@media (max-width: $phone_size) {
  .cards-area {
    h2 { margin: .05em 0 .05em 0 }
    h3 { margin: .05em 0 .05em 0 }
  }

  .action-area, .history-area, .hand-area, .books-area {
    width: 100%;
    float: none;
  }
}
@media all {
  .status-area { background-color: $non-cards-area-color; }

  // hand stacks horizontally w/ rank visible.
  .hand {
    margin: $hand-card-width * .08;
    padding: 0;
    display: inline;
    img { width: $hand-card-width; }

    li:first-child { text-indent: 0 }
    li {
      display: inline-block;
      text-indent: -$hand-card-width * $card-pct-covered;
    }
  }

  // books stack horizontally w/ rank not visible.
  .books {
    list-style-type: none;
    img { width: $book-card-width; }
    display: inline;
    padding: 0;

    li:first-child { text-indent: 0 }
    li {
      display: inline-block;
      text-indent: -$book-card-width * $book-pct-covered;
    }
  }
}
@media (max-width: $tablet_size) {
  // reduce margin
  .hand {
    margin: $hand-card-width * .05;
    img { width: $hand-card-width * $card-shrink-ratio; }
    li { text-indent: -$hand-card-width * $card-pct-covered * $card-shrink-ratio; }
  }
}
@media (max-width: $phone_size) {
  // books margin needed, match to hand, shrink book size as well
  .books {
    margin: $hand-card-width * .05; 
    img { width: $book-card-width * $card-shrink-ratio; }
    li { text-indent: -$book-card-width * 1.1 * $card-shrink-ratio; }
  }
}

@media all {
  .status li {
    list-style-type: none;
    padding: .25em;
  }
  .action li {
    list-style-type: none;
  }
}
@media (max-width: $tablet_size) {
  .status { padding:0; }
  .status li {
    list-style-type: none;
    margin: 0;
    padding:0;
  }
  .action li {
    list-style-type: none;
  }
  .action { padding: 0 }
}

// gt: moved for rails -- @import '_footer';
